<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectOut"
        tools:targetApi="31">
        <activity
                android:name=".qr_code.QRcodeModalActivity"
                android:exported="false" />
        <activity
                android:name=".qr_code.QRcodeEventActivity"
                android:exported="false" />
        <activity
                android:name=".qr_code.QRcodeProfileActivity"
                android:exported="false" />
        <activity
                android:name=".qr_code.QRcodeActivity"
                android:exported="false" />
        <activity
                android:name=".qr_code.CaptureAct"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme" />
        <activity
                android:name=".event.nearbyEvents.EventsActivity"
                android:exported="false"
                android:theme="@style/Theme.ConnectOut.NoActionBar" />

        <activity
                android:name=".chat.ChatActivity"
                android:exported="false" />
        <activity
            android:name=".profile.ReportProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileRateActivity"
            android:exported="false" />
        <activity
            android:name=".registration.CompleteRegistrationActivity"
            android:exported="false" />
        <activity
                android:name=".event.viewer.EventActivity"
                android:theme="@style/Theme.ConnectOut.NoActionBar"
                android:exported="false" />
        <activity
                android:name=".profile.ProfileActivity"
                android:exported="false" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyA-zOfg_1F76v7EckDDKQndOpbj3xP6HVA" />
        <activity
                android:name=".event.creator.EventCreatorActivity"
                android:exported="false"
                android:theme="@style/Theme.ConnectOut.NoActionBar" />
        <activity
                android:name=".drawer.LogInActivity"
                android:exported="false" />
        <activity
                android:name=".profileList.ProfileListActivity"
                android:theme="@style/Theme.ConnectOut.NoActionBar"
                android:exported="false" />

        <activity
                android:name=".drawer.DrawerActivity"
                android:exported="false"
                android:label="@string/title_activity_drawer"
                android:theme="@style/Theme.ConnectOut.NoActionBar" />

        <activity
                android:name=".authentication.ProfileGreetingActivity"
                android:exported="false" />

        <activity
                android:name=".authentication.GoogleLoginActivity"
                android:exported="false" />

        <activity
                android:name=".profile.EditProfileActivity"
                android:exported="false" />

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>